* {
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

.container {
    position: relative;
    width: 1226px;
    margin: 0 auto;
}

.iconfont {
    font-weight: bold;
}

input {
    outline: none;
    border: none;
}

span {
    cursor: default;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}
/*top*/
#site-top-bar {
    background: url("pic/cms_15086594114041_asotb.jpg") no-repeat center;
    height: 120px;
}

/*top end*/
/*neck*/
#site-neck-bar {
    height: 40px;
    background: #333333;
    font-size: 12px;
    line-height: 40px;
}

#site-neck-bar span {
    opacity: 0.1;
}

#neck-bar-left {
    padding: 0 1px;
    display: inline;
}

.neck-left-li {
    float: left;
}

.neck-left-li a {
    color: #b0b0b0;
}

.neck-left-li a:hover {
    color: #ffffff;
}

#neck-bar-left span {
    float: left;
    color: #b0b0b0;
}

#neck-cart {
    float: right;
}

#neck-cart a {
    width: 120px;
    line-height: 39px;
    color: #b0b0b0;
    background: #424242;
    display: block;
    transition: all 0.2s;
    position: relative;
    z-index: 6;
}

#neck-cart i {
    margin: 0 15px;
}

#cart {
    float: right;
}

#cart-menu {
    position: absolute;
    width: 316px;
    height: 0;
    top: 40px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    left: 910px;
    display: block;
    z-index: 5;
    opacity: 1;
    transition: all 0.2s linear 0.2s;
    background: #ffffff;
}

#neck-info {
    float: right;
    margin: 0 10px;
}

#neck-bar-right {
    padding: 0 1px;
    display: inline;
}

.neck-right-li {
    float: right;
}

.neck-right-li a {
    color: #b0b0b0;
}

.neck-right-li a:hover {
    color: #ffffff;
}

#neck-bar-right span {
    float: right;
    color: #b0b0b0;
}

/*neck end*/
/*header*/
#site-header {
    height: 100px;
    line-height: 100px;
}

#logo {
    margin-top: 22px;
    display: inline;
    float: left;
}

#index {
    display: block;
    width: 55px;
    height: 55px;
    background: #ff6700;
    overflow: hidden;
    float: left;
}

#index::before {
    content: '';
    background: url("pic/mi-logo.png") no-repeat center;
    opacity: 1;
    width: 55px;
    height: 55px;
    display: block;
}

#header-ul {
    float: left;
    margin-left: 142px;
}

.header-item {
    float: left;
    padding: 0 10px;
    cursor: pointer;
}

.header-item:hover .nav-link {
    color: #ff6700;
}

.nav-menu-pic {
    width: 160px;
    height: 110px;
}

.nav-menu-item {
    float: left;
    width: 201px;
}

#nav-menu {
    position: absolute;
    height: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
    top: 260px;
    width: 100%;
    display: block;
    transition: all 0.2s linear 0.2s;
    overflow: hidden;
    z-index: 6;
    background: #ffffff;
}

#menu-container {
    border-top: 1px solid #e0e0e0;
}

.nav-menu-list {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 2px;
    line-height: normal;
    font-size: 12px;
}

.list-top p {
    border: 1px solid #ff6700;
    color: #ff6700;
    width: 100%;
    padding: 1px 20px;
    display: inline;
}

.list-top {
    height: 21px;
}

.nav-menu-list img {
    padding: 13px 0;
}

.cutLine {
    position: absolute;
    width: 1px;
    height: 100px;
    top: 35px;
    background: #e0e0e0;
    z-index: 2;
}

.list-bottom {
    color: #ff6700;
}

#header-search {
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    transition: all 0.2s;
}

.search-button {
    float: right;
    width: 39px;
    height: 48px;
    padding: 1px 6px;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    z-index: 1;
}

.search-button:hover {
    background: #ff6700;
    color: #ffffff;
}

#search-input {
    position: relative;
}

#search-input #input {
    float: left;
    width: 245px;
    height: 50px;
    padding: 10px;
    transition: all 0.2s;
}

.input-class {
    border-right: 1px solid #e0e0e0;
}

.header-search-class {
    border: 1px solid #e0e0e0;
}

.header-search-selected {
    border: 1px solid #b0b0b0;
}

.input-selected {
    border-right: 1px solid #b0b0b0;
}

.input-focus {
    border-right: 1px solid #ff6700;
}

.header-search-focus {
    border: 1px solid #ff6700;
}

#search-sub {
    position: absolute;
    top: 77px;
    border: 1px solid #ff6700;
    border-top: none;
    left: 928px;
    display: none;
    z-index: 4;
    background: #ffffff;
}

.search-sub-li {
    height: 18px;
    line-height: 18px;
    width: 214px;
    font-size: 12px;
    padding: 6px 15px;
    color: #424242;
    cursor: pointer;
}

.search-sub-right {
    float: right;
    color: #757575;
}

.search-sub-li:hover {
    background: #f7f7f7;
}

.search-block {
    background: #eee;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    margin-left: 5px;
    font-size: 12px;
    display: inline-block;
    color: #757575;
    transition: all 0.2s;
    cursor: pointer;
}

#search-area {
    position: absolute;
    height: 21px;
    top: 12px;
    left: 55px;
    line-height: 21px;
    text-align: right;
    transition: all 0.3s;
}

.search-block:hover {
    background: #ff6700;
    color: #ffffff;
}

/*header end*/
/*scroll*/
.scroll-img {
    width: 1226px;
    height: 460px;
    position: absolute;
    cursor: pointer;
    display: block;
    transition: all 0.7s;
    opacity: 0;
    visibility: hidden;
}

#scroll-pic {
    cursor: pointer;
}

#scroll-node {
    position: absolute;
    bottom: 20px;
    right: 30px;
    float: right;
    z-index: 3;
}

#scroll-container {
    position: relative;
    height: 460px;
}

.node {
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: block;
    width: 6px;
    height: 6px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.node:hover {
    border: 2px solid rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.3);
}

.scroll-selected {
    opacity: 1;
    visibility: visible;
}

.node-selected {
    border: 2px solid rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.3);
}

#scroll-left-bar {
    position: absolute;
    height: 420px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 234px;
    color: #ffffff;
    padding: 20px 0;
}

.scroll-left-li {
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
}

.scroll-left-li:hover {
    background: #ff6700;
}

.scroll-left-right {
    float: right;
    position: relative;
    right: 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

#scroll-action {
    position: absolute;
    left: 234px;
    height: 460px;
    line-height: 460px;
    right: 25px;
}

#scroll-last {
    float: left;
    position: relative;
    z-index: 3;
    width: 41px;
    height: 69px;
    cursor: pointer;
}

#scroll-next {
    float: right;
    position: relative;
    z-index: 3;
    width: 41px;
    height: 69px;
    cursor: pointer;
    text-align: right;
}

#scroll-action .iconfont {
    font-size: 400%;
    font-weight: normal;
    color: #e0e0e0;
}

#scroll-action .iconfont:hover {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

#scroll-left-sub {
    position: absolute;
    left: 234px;
    top: 0;
    width: 992px;
    height: 458px;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    color: #000;
    z-index: 3;
    font-size: 14px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    display: none;
}

.scroll-sub-ul {
    float: left;
}

.scroll-sub-img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.scroll-sub-li {
    width: 225px;
    height: 41px;
    padding: 18px 20px;
    line-height: 41px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
}

.scroll-sub-buy {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 26px;
    height: 22px;
    line-height: 22px;
    width: 58px;
    border: 1px solid #ff6700;
    color: #ff6700;
    text-align: center;
    font-size: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.scroll-sub-buy:hover {
    color: #ffffff;
    background: #ff6700;
}

/*scroll*/
/*site-hero*/
#site-home-hero {
    height: 170px;
    margin-top: 14px;
}

#hero-selector {
    width: 234px;
    height: 170px;
    background: #5f5750;
    font-size: 12px;
    text-align: center;
    float: left;
}

.hero-li {
    float: left;
    width: 70px;
    height: 64px;
    padding: 0 3px;
    padding-top: 18px;
    color: #ffffff;
    opacity: 0.7;
    cursor: pointer;
}

.hero-li:hover {
    opacity: 1;
}

.hero-li .iconfont {
    font-size: 24px;
}

.hero-cutline-y {
    height: 70px;
    width: 1px;
    background: #665e57;
    display: inline-block;
    float: left;
}

.hero-cutline-x {
    width: 64px;
    height: 1px;
    background: #665e57;
    display: block;
    position: absolute;
    top: 82px;
}

#hero-imgwall {
    float: left;
}

.hero-img {
    width: 316px;
    height: 170px;
    margin-left: 14px;
    cursor: pointer;
    transition: all 0.2s linear;
}


.hero-img:hover{
    box-shadow: 1px 6px 20px rgba(0, 0, 0, 0.2);
}
/*site-hero*/
/*site-star*/
.site-star {
    height: 438px;
    margin-top: 26px;
}

.site-star .container {
    overflow: hidden;
}

.box-title {
    font-weight: 200;
    font-size: 22px;
    margin: 0;
    line-height: 58px;
    color: #333333;
}

.star-scroll-action {
    width: 72px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.star-scroll-next {
    display: inline-block;
    float: right;
    padding: 3px 5px;
    width: 25px;
    height: 20px;
    text-align: center;
}

.star-scroll-last {
    display: inline-block;
    width: 25px;
    height: 20px;
    padding: 3px 5px;
    border-right: 1px solid #e0e0e0;
    text-align: center;
}

.star-scroll {
    float: left;
    overflow: hidden;
    width: 2480px;
}

.star-scroll > div {
    float: left;
    margin-right: 14px;
    width: 234px;
    height: 300px;
    padding-top: 39px;
    background: #fafafa;
    border-top: 1px solid #ffac13;
    text-align: center;
}

.box-img {
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.box-li2 {
    font-size: 14px;
    color: #212121;
    font-weight: 400;
    margin-bottom: 3px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-li3 {
    font-size: 12px;
    margin-bottom: 12px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-li4 {
    font-size: 100%;
    color: #ff6700;
    height: 21px;
    line-height: 21px;
}

.star-scroll div {
    position: relative;
    transition: all 0.3s;
}

.disable {
    cursor: default;
    color: #e0e0e0;
}

/*site-star*/
/*page-main*/
#page-main{
    background: #f5f5f5;
    padding-top: 60px;
}

#page-main .container{
    background: #f5f5f5;
}

.main-box{
    position: relative;
    background: #f5f5f5;
    height: 686px;
}

.divide{
    height: 8px;
    float: left;
    width: 100%;
}

.box-title,.main-box{
    clear: left;
}

.box-link{
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 0 0;
}

.link-li{
    float: left;
    height: 26px;
    line-height: 26px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s linear;
}

.link-li-selected{
    border-bottom: 2px solid #ff6700;
    color: #ff6700;
}

.box-left,.box-large{
    width: 234px;
    height: 614px;
    float: left;
}

.homelec{
    background: url("pic/1695c18e-8a6b-4bc9-9796-d5abad413184.jpg") no-repeat center;
}

.bracelet{
    background: url("pic/xmad_15033634845604_MHJpV.jpg") no-repeat center;
    -webkit-background-size: contain;
    background-size:contain;
    margin-bottom: 14px;
}

.tv{
    background: url("pic/xmad_15111625633435_GjEDT.jpg") no-repeat center;
    background-size: contain;
}

.box-right{
    width: 992px;
    height: 614px;
    float: left;
    background: #f5f5f5;
    display: none;
}

.box-active{
    display: block;
}

.box-right>*{
    margin-left:14px;
    margin-bottom: 14px;
    background: #ffffff;
    display: inline-block;
}

.box-middle{
    width: 234px;
    height: 246px;
    padding-top: 34px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
}

.box-middle img{
    height: 150px;
    width: 150px;
}

.box-small{
    width: 234px;
    height: 93px;
    padding-top: 50px;
    float: left;
    position: relative;
}

.small-right img{
    width: 80px;
    height: 80px;
    vertical-align: top;
}

.small-right{
    position: absolute;
    top: 32px;
    right: 20px;
    bottom: 31px;
    left: 134px;
}

.small-right-i{
    position: absolute;
    top: 48px;
    right: 354px;
    bottom: 47px;
    left: 151px;
}

.small-right-i .iconfont{
    font-size: 48px;
    line-height: 48px;
    color: #ff6700;
}

.small-right img{
    position: absolute;
    cursor: pointer;
}

.small-ul{
    width: 94px;
    height: 50px;
    float: left;
    margin-left: 30px;
}

.small-li{
    height: 21px;
    line-height: 21px;
    float: left;
    width: 94px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
}

.small-li:nth-child(2){
    font-size:12px;
}

.box-large,.box-middle,.box-small{
    transition: all 0.3s linear;
    cursor: pointer;
    position: relative;
}

.box-large:hover,.box-middle:hover,.box-small:hover,.pro-box:hover,
#small-scroll3:hover,#small-scroll4:hover,#small-scroll2:hover,#small-scroll1:hover,
.video-box:hover{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}

.box-middle:hover .box-review{
    height: 76px;
    opacity: 1;
}

.box-tag{
    position: absolute;
    top: 0;
    display: inline;
    width: 64px;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    text-align: center;
    background-color: #83c44e;
    font-size:12px;
    margin-left: -32px;
    color: #ffffff;
}

.box-review{
    display: block;
    box-sizing: border-box;
    height: 0;
    position: absolute;
    z-index: 2;
    opacity: 0;
    background: #ff6700;
    bottom: 0;
    padding: 8px 30px;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s linear;
}

.review-content{
    color: #fff;
    font-size:12px;
    overflow: hidden;
    text-overflow:ellipsis;
    z-index: 3;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
}

.review-user{
    color: rgba(255,255,255,0.6);
    font-size:12px;
    z-index: 3;
    text-align: center;
}

#scroll2{
    background: #f5f5f5;
    margin-top: 0;
}

#scroll2 .box-middle{
    height: 300px;
    background: #ffffff;
    padding: 0;
    border: 0;
    margin-bottom: 14px;
    padding-top: 40px;
    box-sizing: border-box;
}

#scroll2 .box-img{
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
}

#scroll2 .box-li2{
    margin-bottom: 10px;
}

#scroll2 .box-li4{
    font-size: 14px;
    margin-bottom: 10px;
}

#scroll2 .box-li3{
    font-size: 14px;
    color: #757575;
}

#hot-pro{
    height: 473px;
    padding-bottom: 22px;
    background: #f5f5f5;
}

.title{
    font-weight:200;
    font-size: 22px;
    line-height: 58px;
    color: #333333;
    margin: 0;
}

.pro-box{
    width: 296px;
    height: 415px;
    margin-right: 14px;
    background: #ffffff;
    float: left;
    transition:all 0.2s linear;
    cursor: pointer;
}

.pro-box:last-child{
    margin-right: 0;
}

.hot-img{
    width: 296px;
    height: 220px;
    display: block;
    margin-bottom: 28px;
}

.hot-content{
    height: 72px;
    margin: 0 28px 22px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
}

.hot-review{
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}

.hot-item{
    margin: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
}

.hot-name{
    margin: 0;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
    display: inline;
}

.hot-price{
    margin: 0;
    color: #ff6700;
    font-size: 14px;
    display: inline;
}

#scroll2{
    height: 358px;
    padding-bottom: 22px;
}

#content{
    height: 478px;
    padding-bottom: 22px;
    background: #f5f5f5;
}

#small-scroll1,#small-scroll2,#small-scroll3,#small-scroll4{
    width: 296px;
    height: 374px;
    background: #ffffff;
    padding-top: 45px;
    border-top:1px solid #ffac13;
    margin-right: 14px;
    font-size: 14px;
    float: left;
    overflow: hidden;
    position: relative;
    transition: all 0.2s linear;
}

#small-scroll1:hover .ss-prev,#small-scroll1:hover .ss-next,
#small-scroll2:hover .ss-prev,#small-scroll2:hover .ss-next,
#small-scroll3:hover .ss-prev,#small-scroll3:hover .ss-next,
#small-scroll4:hover .ss-prev,#small-scroll4:hover .ss-next{
    opacity: 1;
}

#small-scroll4{
    margin-right:0;
}

.ss-title{
    margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.scroll-unit{
    position: relative;
    z-index: 2;
    float: left;
    width: 296px;
    transition: all .3s linear;
}

.ss-name{
    width: 100%;
    padding: 0 20px 5px;
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    box-sizing: border-box;
}

.ss-content{
    color: #b0b0b0;
    padding: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.ss-price{
    color: #333333;
    text-align: center;
    height: 21px;
    padding: 0 10px 15px;
}

.ss-img{
    width: 216px;
    height: 154px;
    margin: 0 auto;
    display: block;
}

.ss-prev,.ss-next{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    transition: all .3s linear;
    background: rgba(66,66,66,0.2);
    opacity: 0;
    width: 20px;
    height: 24px;
    padding: 12px 0;
    line-height: 24px;
    color: #ffffff;
    z-index: 3;
    cursor: pointer;
}

.ss-prev:hover,.ss-next:hover{
    background: rgba(66,66,66,0.6);
}

.ss-prev{
    left: 0;
}

.ss-next{
    right: 0;
}

#ss-control1,#ss-control2,#ss-control3,#ss-control4{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 296px;
    z-index: 2;
    float: left;
    padding: 0 97px;
    box-sizing: border-box;
}

.scroll-body{
    width: 888px;
}

.ss-controler{
    width: 6px;
    height: 6px;
    border:2px solid #f5f5f5;
    border-radius: 50%;
    background: #b0b0b0;
    float: left;
    margin: 10px 12px;
    cursor: pointer;
}

.ss-controler.controlled {
    border-color: #ff6700;
    background-color: transparent;
}

.ss-more{
    width: 118px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ff6700;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    color: #ff6700;
}

#video{
    height: 343px;
    padding-bottom: 60px;
    background: #f5f5f5;
}

.view-all{
    position: absolute;
    right: 0;
    top: 0;
    height: 58px;
    line-height: 58px;
    font-size: 16px;
    color: #424242;
    transition: all .3s linear;
    cursor: pointer;
}

.view-all:hover{
    color: #ff6700;
}

.view-all:hover i{
    background: #ff6700;
}

.view-all i{
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #757575;
    height: 12px;
    vertical-align: 1px;
    line-height: 12px;
    width: 12px;
    padding: 4px;
}

.video-box{
    width: 296px;
    height: 285px;
    padding-bottom: 14px;
    float: left;
    text-align: center;
    margin-right: 14px;
    position: relative;
    background: #ffffff;
    transition: all .3s linear;
}

.video-box:last-child{
    margin-right: 0;
}

.video-img{
    display: block;
    width: 296px;
    height: 180px;
    margin-bottom: 28px;
}

.video-play{
    position: absolute;
    left: 10px;
    bottom: 125px;
    border:2px solid #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 12px;
    width: 32px;
    height: 20px;
    transition: all .3s linear;
    cursor: pointer;
}

.video-play:hover{
    background: #ff6700;
    border-color: #ff6700;
}

.video-play img{
    width: 30px;
    height: 20px;
    margin: 0 auto;
    display: inline-block;
}

.video-box h3{
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    cursor: pointer;
}

.video-box h3:hover{
    color: #ff6700;
}

.video-box p{
    font-size: 12px;
    color: #b0b0b0;
}
/*page-main*/
/*footer*/
#service{
    height: 25px;
    padding: 27px 0;
    border-bottom:1px solid #E0E0E0;
}

.service-box{
    float: left;
    width: 19.8%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    color: #616161;
    border-right:1px solid #E0E0E0;
    cursor: pointer;
    transition: all .3s linear;
}

.service-box i{
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
    margin-right: 6px;
    font-weight: lighter;
    transition: all .3s linear;
}

.service-box:hover,.service-box:hover i{
    color: #ff6700;
}

.service-box:last-child{
    border-right:0;
}

#contact{
    padding: 40px 0;
}

#contact-list{
    float: left;
}

#contact-list dl{
    float: left;
    width: 160px;
    height: 112px;
}

#contact-list dl dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

#contact-list dl dd{
    margin: 10px 0 0;
    font-size: 12px;
    color: #757575;
    cursor: pointer;
}

#contact-list dl dd:hover{
    color: #ff6700;
}

#contact-method{
    float: right;
    width: 251px;
    height: 112px;
    border-right:1px solid #E0E0E0;
    text-align: center;
}

#contact-method h3{
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
    margin: 0 0 5px;
    font-weight: normal;
}

#contact-method p {
    font-size: 12px;
    margin: 0 0 16px;
    color: #616161;
}

#contact-method div{
    border:1px solid #ff6700;
    color: #ff6700;
    background: #ffffff;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    margin: 0 auto;
    transition: all .3s linear;
    cursor: pointer;
}

#contact-method div:hover{
    background: #ff6700;
    color: #ffffff;
}
/*footer*/
