*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
body{
    background: #fff;
}
.wrapper{
    width: 1230px;
    margin: 0 auto;
}
/* site-nav开始 */
.sn-login-info{
    float: left;
    height: 32px;
    width: 300px;
}
.sep{
    width: 1px;
    height: 16px;
    border: 1px solid #ccc;
    border-width: 0 0 0 1px;
    float: left;
    margin-top: 9px; 
}
.site-nav{
    background: #f2f2f2;
    height: 32px;
    line-height: 32px;
    
}
.site-nav-menu{
    height: 32px;
}
.login-info-item{
    float: left;
    margin-right: 20px;
}
.sn-login-a,.sn-quick-a{
    color: #999;  
    font-size: 12px; 
}
.sn-login-a:hover{
    color: #FF0036;
}
.sn-quick-menu{
    float: right;
    height: 32px;
    width: 570px;
    color: #999;
    font-size: 12px;
}
.quick-menu-item{
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 70px;
}
.quick-menu-item2{
    position: relative;
}
.quick-menu-item3{
    position: relative;
}
#quick-menu-item4{
    margin-right: 10px;
}
.menu-bd2{
    position: absolute;
    left: 0;
    z-index: 1;
    background: #fff;
}
.menu-bd3{
    position: absolute;
    right: -2px;
    z-index: 1;
    background: #fff;
}
/* .sn-quick-a{
    color: #999;
    font-size: 12px;
} */
.iconfont{
    color: #FF0036;
    font-size: 12px;
}
.quick-menu-item2::after,.quick-menu-item3::after,.navigation::after{
    content: '';
    width: 0;
    border-color: #999 transparent transparent transparent;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 16px;
    right: 3px;
    transform-origin: 3px 1.5px;
    transition: none;
}
.quick-menu-item2:hover::after,.quick-menu-item3:hover::after,.navigation:hover::after{
    transform: rotate(180deg);
    transition: transform .3s ease;
}
.quick-menu-item:hover .sn-quick-a2{      
    color: #FF0036;
    background: #fff;
}
.quick-menu-item:hover .sn-menu{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.sn-menu{
    display: block;
    width: 100%;
    height: 100%;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.sn-quick-a{
    display: block;
    width: 100%;
    height: 100%;
    /* 为什么又写一遍 */
}
.sn-menu:hover{
    background: #fff;
    text-decoration: underline;
}
.sn-web:hover{
    text-decoration: none;
}
.menu-bd{
    border: 1px solid #eee;
    border-top: 0;
    display: none;
    width: 90px;
    /* position: absolute;
    left: -1px; */
}
.quick-menu-item:hover .menu-bd{
    display: block;
}
.menu-bd-panel{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 4px 1px;
    /* 为什么内边距不行 */
}
.menu-bd-panel a{
    color: #666
}
.menu-bd-panel a:hover{
    color: #FF0036;
    text-decoration: underline;
}
.business-support{
    width: 140px;
    height: 190px;
    display: none;
    /* 二级菜单 */
}
.business-support-li{
    width: 140px;
}
.business-support-li h4{
    float: left;
    margin-left: 10px;
}
.business-support-message{
    float: left;
    margin-bottom: 5px;
}
.support-message-a{
    margin: 2px 10px;
    float: left;
    height: 20px;
    line-height: 20px;
}
.business-support-help{
    clear: both;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    height: 50px;
    width: 130px;
    margin: 0 5px;
}
.business-support-help h4{
    margin-left: 5px;
    display: inline-block;
}
.business-support-help div{
    text-align: left;
    margin-left: 5px;
}
.support-help-a1{
    margin-right: 12px;

}
.support-help-a2{
    margin-left: 5px;
}
.web-navigation{
    position: absolute;
    z-index: 1;
    right: -2px;
    border:solid #eee;
    border-width: 0 1px 1px;
    width: 1198px;
    height: 110px;
    padding: 25px 0;
    display: none;
    background: #fff;
}
.navigation{
    position: relative;
    width: 90px;
}
.web-navigation-hot{
    width: 490px;
    height: 110px;
    float: left;
}
.web-navigation-market{
    width: 490px;
    height: 110px;
    float: left;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.market-h3{
    float: left;
    color: #9cbaec;
    font-weight: 100;
    margin: 0 30px;
 }
 .help-h3{
    float: left;
    color: #8f8f8f;
    font-weight: 100;
    margin: 0 30px;
 }
.web-navigation-item{
    clear: both;   
    width: 475px;
    height: 80px;
    margin: 0 30px;
}
.hot-h3{
    float: left;
    color: #f78d3c;
    font-weight: 100;
    margin: 0 30px;
}
.navigation-hot-item,.navigation-market-item,.navigation-help-item{
    float: left;
    width: 95px;
    height: 16px;
    line-height: 16px;
    padding: 6px 0;
    text-align: left;
}
.navigation-hot-item a,.navigation-market-item a,.navigation-help-item a{
    font-size: 12px;
    color: #666;
}
.navigation-hot-item a:hover{
    color: #f78d3c;
    text-decoration: underline;
}
.navigation-market-item a:hover{
    color: #9cbaec;
    text-decoration: underline;
}
.navigation-help-item a:hover{
    color: #8f8f8f;
    text-decoration: underline;
}
.web-navigation-help{
    float: left;
    width: 215px;
    height: 110px;
}
.help-navigation-item{
    margin: 0 0 0 30px;
}
.navigation-help-item{
    width: 92px;
}
/* site-nav结束 */
/* search */
.search-logo{
    position: relative;
    height: 130px;
}
.tmall-logo{
    position: absolute;
    left: -20px;
}
.tmall-logo-a{
    display: block;
    width: 290px;
    height: 130px;
}
.tmall-search{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -323px;
    margin-top: -25px;
    height: 130px;
    width: 626px;
}
.search-input{
    border: 2px solid #FF0036;
    border-right: 0;
    float: left;
    width: 483px;
    height: 26px;
    padding: 5px 3px 5px 5px;
    outline: 0;
}
.searh-btn{
    background: #FF0036;
    color: #fff;
    font-size: 18px;
    width: 132px;
    height: 40px;
    border: 0;
    font-weight: 700;
    letter-spacing: 5px;
    float: left;
    cursor: pointer;
}
.hot-query{
    clear: both;
    font-size: 14px;
    padding: 5px 0;
}
.hot-query-item{
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 11px;
}
.hot-query-item1{
    float: left;
    padding-right: 10px;
}
.hot-query-item3{
    float: left;
    padding-left: 10px;
}
.query-a{
    color: #999;
}
.hot-query-highlight{
    color: #FF0036;
    /* 颜色为什么放li里不好使 */
    /* f12页面变形  高度 main-banner */
}
/* 搜索结束 */
.inner-con0{
    height: 35px;
}
.inner-con1{
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    position: absolute;
    left: 350px;
}
.inner-con1 a{
    float: left;
    color: #333;
    padding: 0 5px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.inner-con1 img{
    width: 100px;
    margin-top: 2px;
}.inner-con1 a:hover{
    color: #FF0036
}
/* inner-con0结束 */
/* 商品菜单开始 */
.main-banner{
    border-top: 2px solid #FF0036;
    height: 500px;
    background: #fe8383 url(../img/TB2hF_GdOQnBKNjSZFmXXcApVXa_!!38-0-luban.jpg_q100.jpg) no-repeat center center;
}
.normal-nav{
    width: 200px;
    height: 536px;
    position: relative;
    bottom: 36px;
    background: #000;
    background-color: rgba(0,0,0,.55);
}
.normal-nav-item0{
    font-size: 14px;
    color: #fff;
    height: 31.2px;
    line-height: 31.2px;
}
.normal-nav-item0 i{
    padding: 0 5px 0 8px;
}
.normal-nav-item0 a{
    color: #fff;
}
#normal-nav-item1 i{
    padding: 0 15px 0 8px;
}
#normal-nav-item1{
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    background: #FF0036;
    font-weight: 700;
}
.normal-nav-item0 .iconfont{
    font-size: 16px;
    color: #999;
}
.normal-nav-item0:hover{
    background: #fff;
}
#normal-nav-item1 .iconfont{
    color: #fff;
}
.normal-nav-item2:hover .iconfont,.normal-nav-item2:hover>a{
    color: #e54077;
}
.normal-nav-item2:hover>a{
    font-weight: 700;
}
.normal-nav-item3:hover .iconfont,.normal-nav-item3:hover>a{
    color: #427def;
}
.normal-nav-item3:hover>a{
    font-weight: 700;
}
.normal-nav-item4:hover .iconfont,.normal-nav-item4:hover>a{
    color: #6347ed;
}
.normal-nav-item4:hover>a{
    font-weight: 700;
}
.normal-nav-item5:hover .iconfont,.normal-nav-item5:hover>a{
    color: #fa5c5c;
}
.normal-nav-item5:hover>a{
    font-weight: 700;
}
.normal-nav-item6:hover .iconfont,.normal-nav-item6:hover>a{
    color: #f7a831;
}
.normal-nav-item6:hover>a{
    font-weight: 700;
}
.normal-nav-item7:hover .iconfont,.normal-nav-item7:hover>a{
    color: #dd2727;
}
.normal-nav-item7:hover>a{
    font-weight: 700;
}
.normal-nav-item8:hover .iconfont,.normal-nav-item8:hover>a{
    color: #3bc7b0;
}
.normal-nav-item8:hover>a{
    font-weight: 700;
}
.pannel-0{
    position: absolute;
    left: 200px;
    top: 36px;
    width: 852px;
    height: 500px;
    background: #fff;
    display: none;
}
.hot-con{
    display: inline-block;
    margin: 19px 30px 0 20px;
    background: #fff;
    width: 593px;
    height: 462px;
    clear: both;
}
.hot-word-con{
    color: #333;
    font-weight: 700;
    float: left;
    margin: 2px 18px 0 0;
    /* text-align:justify; */
    /* width: 90px; */
}
.hot-word-con-category{
    display: inline-block;
    width: 55px;
    text-align:justify;
}
.hot-word-con-category::after{  
    content:"";  
    display:inline-block;  
    width:100%;  
}
  /* 为什么加了这个东西就好使了
  是因为是最后一行吗 */
.hot-word-con-category+i{
    float: right;
}
.hot-word-con i{
    font-style: normal;
}
.hot-line-con,.hot-line-con0{
    float: left;
    width: 450px;
    border-top: 1px dashed #eee;
    padding:10px 0;
}
.hot-line-con0{
    padding: 0 0 8px 0;
    border-top: 0;
}
.hot-line-con a,.hot-line-con0 a{
    /* display: inline-block; */
    /* 为什么加了这个dib 自动一行了 */
    padding: 0 4px 0 4px;
    float: left;
    /* 为什么float: left;去掉a的上下空白 */
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}
.hot-line-con .hot-line-con-a1,.hot-line-con0 .hot-line-con-a1{
    color: #e54077;
}
.hot-line-con .hot-line-con-a2,.hot-line-con0 .hot-line-con-a2,.hot-line-con2 .hot-line-con-a2,.hot-line-con3 .hot-line-con-a2,.hot-line-con4 .hot-line-con-a2,.hot-line-con5 .hot-line-con-a2,.hot-line-con6 .hot-line-con-a2,.hot-line-con7 .hot-line-con-a2,.hot-line-con8 .hot-line-con-a2{
    color: #999;
}
.hot-line-con .hot-line-con-a2:hover,.hot-line-con0 .hot-line-con-a2:hover{
    color: #e54077;
}
.hot-line-con2 .hot-line-con-a1{
    color: #427def;
}
.hot-line-con2 .hot-line-con-a2:hover{
    color: #427def;
}
.hot-line-con3 .hot-line-con-a1{
    color: #6347ed;
}
.hot-line-con3 .hot-line-con-a2:hover{
    color: #6347ed;
}
.hot-line-con4 .hot-line-con-a1{
    color: #fa5c5c;
}
.hot-line-con4 .hot-line-con-a2:hover{
    color: #fa5c5c;
}
.hot-line-con5 .hot-line-con-a1{
    color: #f7a831;
}
.hot-line-con5 .hot-line-con-a2:hover{
    color: #f7a831;
}
.hot-line-con6 .hot-line-con-a1{
    color: #dd2727;
}
.hot-line-con6 .hot-line-con-a2:hover{
    color: #dd2727;
}
.hot-line-con7 .hot-line-con-a1{
    color: #3bc7b0;
}
.hot-line-con7 .hot-line-con-a2:hover{
    color: #3bc7b0;
}
.sub-logo-con{
    padding: 10px;
    padding-right: 5px;
    float: right;
    width: 189px;
    background: #fafafa;
    height: 480px;
}
.sub-logo-con-a0 img{
    width: 73px;
    vertical-align: middle;
}
.sub-logo-con-a0{
    float: left;
    padding: 5px 10px;
    height: 37px;
    width: 73px;
    margin-right: 1px;
    margin-bottom: 1px;
    background: #fff;
}
.sub-logo-con-a1 img{
    width: 189px;
}
.normal-nav-item0:hover .pannel-0{
    display: block;
}
/* 商品菜单结束 */
