*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
body{
    background: #fff;
}
.wrapper{
    width: 1230px;
    margin: 0 auto;
}
/* site-nav开始 */
.sn-login-info{
    float: left;
    height: 32px;
    width: 300px;
}
.sep{
    width: 1px;
    height: 16px;
    border: 1px solid #ccc;
    border-width: 0 0 0 1px;
    float: left;
    margin-top: 9px; 
}
.site-nav{
    background: #f2f2f2;
    height: 32px;
    line-height: 32px;
    
}
.site-nav-menu{
    height: 32px;
}
.login-info-item{
    float: left;

    margin-right: 20px;
}
.sn-login-a,.sn-quick-a{
    color: #999;  
    font-size: 12px; 
}
.sn-login-a:hover{
    color: #FF0036;
}
.sn-quick-menu{
    float: right;
    height: 32px;
    width: 560px;
}
.quick-menu-item{
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 70px;
}
/* .sn-quick-a{
    color: #999;
    font-size: 12px;
} */
.iconfont{
    color: #FF0036;
    font-size: 12px;
}
.sn-quick-a:hover{      
    color: #FF0036;
}
.sn-menu{
    /* display: block; */
    display: inline-block;
    /* 为什么 block不行*/
    width: 100%;
    height: 100%;
}
.sn-menu:hover{
    background: #fff;
    text-decoration: underline;
}
.sn-web:hover{
    text-decoration: none;
}
.menu-bd{
    border: 1px solid #eee;
    border-top: 0;
    display: none;
    width: 90px;
}
.quick-menu-item:hover .menu-bd{
    display: block;
}
.menu-bd-panel{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 4px 1px;
    /* 为什么内边距不行 */
}
.menu-bd-panel a{
    color: #666
}
.menu-bd-panel a:hover{
    color: #FF0036;
    text-decoration: underline;
}
.business-support{
    width: 140px;
    height: 190px;
    display: none;
    /* 二级菜单 */
}
.business-support-li{
    width: 140px;
}
.business-support-li h4{
    float: left;
    margin-left: 10px;
}
.business-support-message{
    float: left;
    margin-bottom: 5px;
}
.support-message-a{
    margin: 2px 10px;
    float: left;
    height: 20px;
    line-height: 20px;
}
.business-support-help{
    clear: both;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    height: 50px;
    width: 130px;
    margin: 0 5px;
}
.business-support-help h4{
    /* float: left; */
    margin-left: 5px;
    display: inline-block;
    /* 为什么 什么时候用 */
}
.business-support-help div{
    text-align: left;
    margin-left: 5px;
}
.support-help-a1{
    margin-right: 12px;
    /* text-align: none; */
}
.support-help-a2{
    margin-left: 5px;
}
.web-navigation{
    position: absolute;
    z-index: 1;
    right: 0;
    border:solid #eee;
    border-width: 0 1px 1px;
    width: 1198px;
    height: 110px;
    padding: 25px 0;
    display: none;
    background: #fff;
}
.navigation{
    position: relative;
}
.web-navigation-hot{
    width: 490px;
    height: 110px;
    float: left;
}
.web-navigation-market{
    width: 490px;
    height: 110px;
    float: left;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.market-h3{
    float: left;
    color: #9cbaec;
    font-weight: 100;
    margin: 0 30px;
 }
 .help-h3{
    float: left;
    color: #8f8f8f;
    font-weight: 100;
    margin: 0 30px;
 }
.web-navigation-item{
    clear: both;   
    width: 475px;
    height: 80px;
    margin: 0 30px;
}
.hot-h3{
    float: left;
    color: #f78d3c;
    font-weight: 100;
    margin: 0 30px;
}
.navigation-hot-item,.navigation-market-item,.navigation-help-item{
    float: left;
    width: 95px;
    height: 16px;
    line-height: 16px;
    padding: 6px 0;
    text-align: left;
}
.navigation-hot-item a,.navigation-market-item a,.navigation-help-item a{
    font-size: 12px;
    color: #666;
}
.navigation-hot-item a:hover{
    color: #f78d3c;
    text-decoration: underline;
}
.navigation-market-item a:hover{
    color: #9cbaec;
    text-decoration: underline;
}
.navigation-help-item a:hover{
    color: #8f8f8f;
    text-decoration: underline;
}
.web-navigation-help{
    float: left;
    width: 215px;
    height: 110px;
}
.help-navigation-item{
    margin: 0 0 0 30px;
}
.navigation-help-item{
    width: 92px;
}
/* site-nav结束 */
/* search */
.search-logo{
    position: relative;
    height: 130px;
}
.tmall-logo{
    position: absolute;
    left: 0;
}
.tmall-logo-a{
    display: block;
    width: 290px;
    height: 130px;
}
.tmall-search{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -323px;
    margin-top: -25px;
    height: 130px;
    width: 626px;
}
.search-input{
    border: 2px solid #FF0036;
    border-right: 0;
    float: left;
    width: 483px;
    height: 26px;
    padding: 5px 3px 5px 5px;
    outline: 0;
}
.searh-btn{
    background: #FF0036;
    color: #fff;
    font-size: 18px;
    width: 132px;
    height: 40px;
    border: 0;
    font-weight: 700;
    letter-spacing: 5px;
    float: left;
    cursor: pointer;
}
.hot-query{
    clear: both;
    font-size: 14px;
    padding: 5px 0;
}
.hot-query-item{
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 11px;
}
.hot-query-item1{
    float: left;
    padding-right: 10px;
}
.hot-query-item3{
    float: left;
    padding-left: 10px;
}
.query-a{
    color: #999;
}
.hot-query-highlight{
    color: #FF0036;
    /* 颜色为什么放li里不好使 */
}
/* 搜索结束 */
